.SearchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.input{
    font-family: italic;
    font-size: 15px;
    font-weight: bold;
}
.btn{
   
  
    border-radius: 6px;
    font-family: italic;
    color: #000000;
    font-size: 16px;
    background:  rgb(203, 229, 236);
    padding:  3px 6px 3px 6px ;
 
}